/* body{
    background-color: white;
    color: black;
} */
* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.cdnfonts.com/css/lexend-deca");
body {
  font-family: "Lexend Deca", sans-serif;
}
.blog-btn {
  background-color: rgb(180, 244, 97);
  border-radius: 8px;
  padding: 12px 32px 12px 32px;
}
.up-header {
  background-color: #f9f7f3;
}

.donation-btn {
  background-color: rgb(180, 244, 97);
  border-radius: 8px;
  padding: 12px 32px 12px 32px;
}
.history-btn {
  border-radius: 8px;
  border: 2px solid rgba(17, 17, 17, 0.08);
  padding: 12px 32px 12px 32px;
}

.donation-btn:hover , .history-btn:hover , .blog-btn:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(10px);
}
.card {
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.btn-balance {
  flex-direction: row;
}

.input-amount {
  border: 2px solid rgba(17, 17, 17, 0.08);
}
.donate-now-button {
  background-color: rgb(180, 244, 97);
}